<footer id="footer">
  <div class="top-footer">
    <div class="container">
      <div class="row">
        <div class="col col-lg-3">
          <h4>Видове процедури</h4>
          <ul class="nav-procedures">
            <li><a href="#">Трайно обезкосмяване</a></li>
            <li><a href="#">Фотоподмпладяване</a></li>
            <li><a href="#">Лечение на акне</a></li>
            <li><a href="#">Премахване на стрии,белези,капиляри</a></li>
            <li><a href="#">3D радиочестотен лифтинг</a></li>
            <li><a href="#">Аква пилинг терапия</a></li>
            <li><a href="#">Микродермабразио</a></li>
            <li><a href="#">Безиглена мезотерапия</a></li>
            <li><a href="#">Терапии за лице</a></li>
            <li><a href="#">Пилинг</a></li>
          </ul>
        </div>
        <div class="col col-lg-3">
          <h4>Най-нови статии</h4>
          <div class="article-container" *ngFor="let post of newestPosts">
            <img src="{{post.__frontImage__.src}}">
            <a href="#" class="heading">
              {{post.title}}
            </a>
          </div>
        </div>
        <div class="col col-lg-3">
          <h4>Пишете ни</h4>
          <form class="contact100-form validate-form">
            <div class="wrap-input100 validate-input" data-validate="Name is required">
              <input class="input100" type="text" name="name" placeholder="Вашето име">
              <span class="focus-input100"></span>
            </div>

            <div class="wrap-input100 validate-input" data-validate="Valid email is required: ex@abc.xyz">
              
              <input class="input100" type="text" name="email" placeholder="Вашият и-мейл">
              <span class="focus-input100"></span>
            </div>

            <div class="wrap-input100">
              
              <input class="input100" type="text" name="phone" placeholder="Относно">
              <span class="focus-input100"></span>
            </div>

            <div class="wrap-input100 validate-input" data-validate="Message is required">
              <textarea class="input100" name="message" placeholder="Вашето съобщение"></textarea>
              <span class="focus-input100"></span>
            </div>

            <div class="container-contact100-form-btn">
              <div class="wrap-contact100-form-btn">
                <div class="contact100-form-bgbtn"></div>
                <button class="contact100-form-btn">
                  Изпрати
                </button>
              </div>
            </div>
          </form>
        </div>
        <div class="col col-lg-3 contacts">
          <h4>Контакти</h4>
          <p>
              Адрес: гр. Пловдив, бул."Марица" 27Д
              <br>
              <span>Телефони:</span>
              
              0886/964545
              <span>E-mail:</span>
              <a href="#">code_beauty@abv.bg</a>
          </p>
        </div>
      </div>
    </div>
  </div>
  <div class="bottom-footer">
    <div class="container">
      <div class="col-12 brand-container">
        <a href="#" class="footer-branding"><img src="../../../assets/images/branding-small.png" alt=""></a>
        <span class="copyright">Copyright 2019 © Code Beauty </span>
        <nav class="footer-nav">
          <ul>
            <li><a href="#">Потребителски права</a></li>
            <li><a href="#">Политика за поверителност</a></li>
            <li><a href="#">Политики за бисквитки</a></li>
          </ul>
        </nav>
      </div>
    </div>
  </div>
</footer>
