$background-color : #E6E3C9;
$link-color: #BF6D54;
$text-color: #3a3a3a;

#footer {
  margin-top: 70px;
  padding-top: 50px;
  background: rgba(230,227,201,0.4);
  border-top: 1px solid #DE9A86;
  // background: #BFA5A3;

  h4 {
    color: #3a3a3a;
    font-weight: normal;
    font-size: 16px;
    margin-bottom: 15px;
  }

  .contacts {
    p {
      color: $text-color;
      font-size: 13px;
      span {
        display: block;
        font-weight: 500;
        margin: 10px 0 5px;
      }
      a {
        color: $text-color;
        transition: 0.3s all ease-in-out;
        text-decoration: none;

        &:hover {
          color: $link-color;
        }
      }
    }
  }

  .nav-procedures {
    padding-left: 0;
    list-style: none;
    margin-bottom: 0;

    li {
      position: relative;
      padding-bottom: 5px;
      margin-bottom: 5px;

      &:after {
        content: "";
        position: absolute;
        bottom: 0;
        left: 0;
        height: 1px;
        width: 100%;
        background: rgba(136,136,136,0.15);
      }

      &:last-of-type {
        &:after {
          display: none;
        }
      }

      a {
        color: #888888;
        font-size: 13px;
        font-weight: 400;
        transition: 0.3s all ease-in-out;

        &:hover {
          color: $link-color;
        }
      }
    }
  }
}

.bottom-footer {
  border-top: 1px solid #DE9A86;
  font-weight: 400;

  .brand-container {
    display: flex;
    align-items: center;
    padding-top: 5px;
    padding-bottom: 5px;

    .footer-branding {
      display: inline-block;
      max-width: 30px;
      margin-right: 10px;

      img{
        max-width: 100%;
      }
    }

    .copyright {
      font-size: 12px;
      color: $link-color;
      margin-right: 10px;
    }

    .footer-nav {
      ul {
        list-style: none;
        padding: 0;
        margin-bottom: 0;
        display: flex;
        align-items: center;
        li {
          display: flex;
          align-items: center;
          margin-right: 5px;
          padding-right: 5px;
          position: relative;

          &:after {
            content: "";
            width: 1px;
            height: 50%;
            position: absolute;
            top: 50%;
            transform: translateY(-50%);
            right: 0;
            background: $link-color;
          }

          &:last-of-type:after {
            display: none;
          }

          a {
            font-size: 12px;
            color: $link-color;
            text-decoration: none;

            &:hover {
              text-decoration: underline;
            }
          }
        }
      }
    }
  }
}