.create-btn {
  color: #fff;
  background: #DE9A86;
  border:1px solid #DE9A86;
  transition: 0.3s all ease-in-out;

  &:hover {
    background: #BF6D54;
  }
}

h3 {
  margin-bottom: 15px;
}

.space-center {
  display: flex;
  justify-content: space-between;
  align-items: center;
}