.img-cont {
  display: block;
  height: 100%;
  width: 100%;
  background-size: cover;
  background-position: center center;

  @media screen and(min-width: 640px){
    .container {
      position: relative;
  
      .carousel-caption {
        left: 0;
      }
    }
  }

  &.header-cont {
    height: 260px;
    padding-top: 10px;
  }

  &.first {
    background-image: url("../../../assets/images/slider/1.jpg");
  }

  &.second {
    background-image: url("../../../assets/images/slider/1.jpg");
  }
}

.branding-cont {
  text-align: center;
    @media screen and(min-width: 640px) {
      .branding {
        display: none;
      }
  }
}


.custom-container {
  position: relative;
  height: 100%;
}

.custom-blockquote {
  max-width: 100%;
  background: rgba(0, 0, 0, 0.6);
  padding: 10px;
  color: white;
  z-index: 10;
  position: absolute;
  bottom: 20px;
  left: 0;
  border-radius: 10px;
  transition: 0.1s all ease-in-out;
}