

<main>
  <div class="container">
    <div class="row">
      <div class="col-12">
        <h1>Lorem ipsum dolor sit amet.</h1>
      </div>
      <div class="col col-6 main-img-cont">
        <img src="../../../assets/images/beautyclinic.jpg" alt="">
      </div>
      <div class="col col-6 text-cont">
        <p >
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Expedita est, velit nobis molestias dicta, debitis consectetur quos, deleniti culpa reiciendis dignissimos harum excepturi amet laudantium? Ipsum ducimus pariatur nihil omnis officia unde dolorum, velit ad dolorem perspiciatis suscipit quisquam est.
        </p>
      </div>
    </div>
  </div>
</main>
<div id="separator">
  <h2 class="wow fadeInDown"  data-wow-delay="0.6s">Lorem ipsum dolor sit amet, consectetur adipisicing.</h2>
</div>
<div class="container blog-container">
  <div class="row">
    <div class="col-12">
      <h3 id="blog-heading">
        Статии и съвети
      </h3>
    </div>
    <div class="col col-lg-4">
      <mdb-card class="card card-cascade narrower wow fadeIn" data-wow-delay="0.6s">
        <div class="view view-cascade overlay" mdbWavesEffect>
          <!-- Card img -->
          <div class="card-img-top img-loaded">

          </div>
          <a>
            <div class="mask rgba-white-slight waves-effect waves-light"></div>
          </a>
        </div>
        <!--Card content-->
        <mdb-card-body>
          <!--Title-->
          <mdb-card-title>
            <h4>Lorem ipsum</h4>
          </mdb-card-title>

          <!--Text-->
          <mdb-card-text> Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptatibus adipisci ducimus libero
            debitis quod rerum temporibus, aut maiores unde atque, minus ad neque sit pariatur nisi architecto repellat,
            eligendi aliquid!
          </mdb-card-text>

          <a href="#" mdbBtn class="blog-btn" mdbWavesEffect>Прочети още</a>
        </mdb-card-body>
      </mdb-card>
    </div>

    <div class="col col-lg-4">
      <mdb-card class="card card-cascade narrower wow fadeIn" data-wow-delay="0.6s">
        <div class="view view-cascade overlay" mdbWavesEffect>
          <!-- Card img -->
          <div class="card-img-top img-loaded">

          </div>
          <a>
            <div class="mask rgba-white-slight waves-effect waves-light"></div>
          </a>
        </div>
        <!--Card content-->
        <mdb-card-body>
          <!--Title-->
          <mdb-card-title>
            <h4>Lorem ipsum</h4>
          </mdb-card-title>

          <!--Text-->
          <mdb-card-text> Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptatibus adipisci ducimus libero
            debitis quod rerum temporibus, aut maiores unde atque, minus ad neque sit pariatur nisi architecto repellat,
            eligendi aliquid!
          </mdb-card-text>

          <a href="#" mdbBtn class="blog-btn" mdbWavesEffect>Прочети още</a>
        </mdb-card-body>
      </mdb-card>
    </div>

    <div class="col col-lg-4">
      <mdb-card class="card card-cascade narrower wow fadeIn" data-wow-delay="0.6s">
        <div class="view view-cascade overlay" mdbWavesEffect>
          <!-- Card img -->
          <div class="card-img-top img-loaded">

          </div>
          <a>
            <div class="mask rgba-white-slight waves-effect waves-light"></div>
          </a>
        </div>
        <!--Card content-->
        <mdb-card-body>
          <!--Title-->
          <mdb-card-title>
            <h4>Lorem ipsum</h4>
          </mdb-card-title>

          <!--Text-->
          <mdb-card-text> Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptatibus adipisci ducimus libero
            debitis quod rerum temporibus, aut maiores unde atque, minus ad neque sit pariatur nisi architecto repellat,
            eligendi aliquid!
          </mdb-card-text>

          <a href="#" mdbBtn class="blog-btn" mdbWavesEffect>Прочети още</a>
        </mdb-card-body>
      </mdb-card>
    </div>

    <div class="col col-lg-4">
      <mdb-card class="card card-cascade narrower wow fadeIn" data-wow-delay="0.6s">
        <div class="view view-cascade overlay" mdbWavesEffect>
          <!-- Card img -->
          <div class="card-img-top img-loaded">

          </div>
          <a>
            <div class="mask rgba-white-slight waves-effect waves-light"></div>
          </a>
        </div>
        <!--Card content-->
        <mdb-card-body>
          <!--Title-->
          <mdb-card-title>
            <h4>Lorem ipsum</h4>
          </mdb-card-title>

          <!--Text-->
          <mdb-card-text> Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptatibus adipisci ducimus libero
            debitis quod rerum temporibus, aut maiores unde atque, minus ad neque sit pariatur nisi architecto repellat,
            eligendi aliquid!
          </mdb-card-text>

          <a href="#" mdbBtn class="blog-btn" mdbWavesEffect>Прочети още</a>
        </mdb-card-body>
      </mdb-card>
    </div>

    <div class="col col-lg-4">
      <mdb-card class="card card-cascade narrower wow fadeIn" data-wow-delay="0.6s">
        <div class="view view-cascade overlay" mdbWavesEffect>
          <!-- Card img -->
          <div class="card-img-top img-loaded">

          </div>
          <a>
            <div class="mask rgba-white-slight waves-effect waves-light"></div>
          </a>
        </div>
        <!--Card content-->
        <mdb-card-body>
          <!--Title-->
          <mdb-card-title>
            <h4>Lorem ipsum</h4>
          </mdb-card-title>

          <!--Text-->
          <mdb-card-text> Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptatibus adipisci ducimus libero
            debitis quod rerum temporibus, aut maiores unde atque, minus ad neque sit pariatur nisi architecto repellat,
            eligendi aliquid!
          </mdb-card-text>

          <a href="#" mdbBtn class="blog-btn" mdbWavesEffect>Прочети още</a>
        </mdb-card-body>
      </mdb-card>
    </div>

    <div class="col col-lg-4">
      <mdb-card class="card card-cascade narrower wow fadeIn" data-wow-delay="0.6s">
        <div class="view view-cascade overlay" mdbWavesEffect>
          <!-- Card img -->
          <div class="card-img-top img-loaded">

          </div>
          <a>
            <div class="mask rgba-white-slight waves-effect waves-light"></div>
          </a>
        </div>
        <!--Card content-->
        <mdb-card-body>
          <!--Title-->
          <mdb-card-title>
            <h4>Lorem ipsum</h4>
          </mdb-card-title>

          <!--Text-->
          <mdb-card-text> Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptatibus adipisci ducimus libero
            debitis quod rerum temporibus, aut maiores unde atque, minus ad neque sit pariatur nisi architecto repellat,
            eligendi aliquid!
          </mdb-card-text>

          <a href="#" mdbBtn class="blog-btn" mdbWavesEffect>Прочети още</a>
        </mdb-card-body>
      </mdb-card>
    </div>
  </div>
</div>
