<mdb-card class="card card-cascade narrower wow fadeIn" data-wow-delay="0.6s">
  <div class="view view-cascade overlay" mdbWavesEffect>
    <!-- Card img -->
    
    <ng-container *ngIf="!!post.__frontImage__; else default">
        <div class="card-img-top img-loaded" (click)="showPost(post.id)">
          <img src="{{post.__frontImage__.src}}" alt="">
        </div>
    </ng-container>
    <ng-template #default>
      <div class="card-img-top img-loaded" (click)="showPost(post.id)"></div>
    </ng-template>
 
    <a (click)="showPost(post.id)">
      <div class="mask rgba-white-slight waves-effect waves-light"></div>
    </a>
  </div>
  <!--Card content-->
  <mdb-card-body>
    <!--Title-->
    <mdb-card-title>
      <h4>{{post.title}}</h4>
    </mdb-card-title>

    <!--Text-->
    <mdb-card-text>{{post.description}}
    </mdb-card-text>

    <a (click)="showPost(post.id)"  mdbBtn class="blog-btn" mdbWavesEffect>Read more</a>
    <app-post-options *ngIf="showOptions" (deleteOptionEvent)='delete($event)' (editPostEvent)="editPost($event)" [post]="post"></app-post-options>
  </mdb-card-body>
</mdb-card>
