.gallery {
  padding-top: 20px;
}

.view {
  position: relative;
  margin-bottom: 30px; 
  
  &:hover .mask {
    top: 0;
  }
  .mask {
    position: absolute;
    top: - 100%;
    transition: 0.3s all ease-in-out;
  }
}