@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i&display=swap');
@import '~ngx-toastr/toastr';

$btn-color: #DE9A86;
$hover: #BF6D54;

* {
  font-family: 'Open Sans', sans-serif;
}

::-moz-selection {
  background: #BF6D54;
}

::selection {
  background: #BF6D54;
}

html,
body {
  height: 100%;
}

body {
  display: flex;
  flex-direction: column;
  margin: 0;
}

.wrapper {
  flex: 1 0 auto;
}

.footer-wrapper {
  flex-shrink: 0;
}

app-root {
  display: flex;
  flex-direction: column;
  height: 100%;
}

// removing input styles

input {
  outline: none;
  border: none;
}

input[type="number"] {
  -moz-appearance: textfield;
  appearance: none;
  -webkit-appearance: none;
}

input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
  -webkit-appearance: none;
}

textarea {
  outline: none;
  border: none;
}

textarea:focus,
input:focus {
  border-color: transparent !important;
}

input:focus::-webkit-input-placeholder {
  color: transparent;
}

input:focus:-moz-placeholder {
  color: transparent;
}

input:focus::-moz-placeholder {
  color: transparent;
}

input:focus:-ms-input-placeholder {
  color: transparent;
}

textarea:focus::-webkit-input-placeholder {
  color: transparent;
}

textarea:focus:-moz-placeholder {
  color: transparent;
}

textarea:focus::-moz-placeholder {
  color: transparent;
}

textarea:focus:-ms-input-placeholder {
  color: transparent;
}

input::-webkit-input-placeholder {
  color: #cccccc;
}

input:-moz-placeholder {
  color: #cccccc;
}

input::-moz-placeholder {
  color: #cccccc;
}

input:-ms-input-placeholder {
  color: #cccccc;
}

textarea::-webkit-input-placeholder {
  color: #cccccc;
}

textarea:-moz-placeholder {
  color: #cccccc;
}

textarea::-moz-placeholder {
  color: #cccccc;
}

textarea:-ms-input-placeholder {
  color: #cccccc;
}

button {
  outline: none !important;
  border: none;
  background: transparent;
}

button:hover {
  cursor: pointer;
}

// end of removing styles

.navbar {
  background-color: #fff;
}

.carousel {

  .carousel-indicators,
  .carousel-control-prev,
  .carousel-control-next {
    visibility: hidden;
    opacity: 0;
    transition: 0.3s all ease-in-out;
  }

  &:hover {

    .carousel-indicators,
    .carousel-control-prev,
    .carousel-control-next {
      visibility: visible;
      opacity: 1;
    }
  }
}

.carousel-item {
  position: relative;
  height: 655px;

  video {
    position: absolute;
    top: 0;
    left: 0;
  }

  &.active {
    .caption {
      -webkit-animation-name: sliderCaption;
      /* Safari 4.0 - 8.0 */
      -webkit-animation-duration: 10s;
      /* Safari 4.0 - 8.0 */
      animation-name: sliderCaption;
      animation-duration: 10s;
      animation-delay: 0.3s;
      -webkit-animation-delay: 0.3s;
    }
  }

  .container {
    height: 100%;

    .col-12 {
      height: 100%;
    }
  }

  .caption {
    background: rgba(0, 0, 0, 0.6);
    padding: 10px;
    color: white;
    z-index: 10;
    position: absolute;
    top: 70%;
    left: 0;
    border-radius: 10px;
    // visibility: hidden;
    // opacity: 0;
    transition: 0.10s all ease-in-out;

    p {
      margin: 0;
    }
  }
}

@-webkit-keyframes sliderCaption {
  0% {
    opacity: 0;
  }

  30% {
    opacity: 1;
  }

}

/* Standard syntax */
@keyframes sliderCaption {
  0% {
    opacity: 0;
  }

  30% {
    opacity: 1;
  }

}

.card {
  margin-bottom: 30px;
}

.card-cascade.narrower {
  margin-top: 1.25rem;

  .view.view-cascade {
    margin-top: -1.25rem;
    margin-right: 4%;
    margin-left: 4%;
    border-radius: .25rem;
    box-shadow: 0 5px 11px 0 rgba(0, 0, 0, .18), 0 4px 15px 0 rgba(0, 0, 0, .15);
  }

  .card-img-top {
    width: 100%;
    border-top-left-radius: calc(.25rem - 1px);
    border-top-right-radius: calc(.25rem - 1px);
    position: relative;

    img {
      position: absolute;
      width: 115%;
      height: auto;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
    }
  }

}

.card-img-top.img-loaded {
  width: 100%;
  height: 200px;
  background-image: url('./assets/images/blog2.jpg');
  background-position: center;
  background-size: cover;
}

.blog-btn {
  background: $btn-color;
  color: white;
  transition: 0.3s all ease-in-out;

  &:hover {
    background: $hover;
  }
}

#blog-heading {
  position: relative;
  font-weight: 400;
  text-align: center;
  padding-bottom: 10px;
  margin-bottom: 50px;

  &:before {
    content: "";
    display: block;
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    width: 195px;
    height: 2px;
    background: $btn-color;
  }
}

main {
  padding: 60px 0;

  .main-img-cont {
    img {
      max-width: 100%;
    }
  }
}

.heading-cont {
  text-align: center;

  &.left {
    text-align: left;
  }

  h1 {
    display: inline-block;
    position: relative;
    text-align: center;
    font-weight: 400;
    padding-bottom: 20px;
    margin-bottom: 50px;

    &:before {
      content: "";
      display: block;
      position: absolute;
      bottom: 0;
      left: 50%;
      transform: translateX(-50%);
      width: 92%;
      ;
      height: 2px;
      background: $btn-color;
    }
  }
}

.lb-close {
  position: fixed;
  top: 15px;
  right: 15px;
}



/*==================================================================
[ Form ]*/

.contact100-form {
  width: 100%;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding-bottom: 68px;
}

.contact100-form-title {
  display: block;
  width: 100%;
  font-family: Poppins-Bold;
  font-size: 39px;
  color: #333333;
  line-height: 1.2;
  text-align: left;
  padding-bottom: 64px;
}



/*------------------------------------------------------------------
[ Input ]*/

.wrap-input100 {
  width: 100%;
  position: relative;
  border-bottom: 1px solid #dbdbdb;
  margin-bottom: 45px;
}

.label-input100 {
  font-family: Poppins-SemiBold;
  font-size: 18px;
  color: #999999;
  line-height: 1.2;
  padding-left: 2px;
}

.input100 {
  display: block;
  width: 100%;
  background: transparent;
  font-size: 13px;
  color: #3a3a3a;
  line-height: 1.2;
  padding: 0 2px;

  &::placeholder {
    color: #888888;
  }
}

.focus-input100 {
  position: absolute;
  display: block;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  pointer-events: none;
}

.focus-input100::before {
  content: "";
  display: block;
  position: absolute;
  bottom: -2px;
  left: 0;
  width: 0;
  height: 2px;

  -webkit-transition: all 0.4s;
  -o-transition: all 0.4s;
  -moz-transition: all 0.4s;
  transition: all 0.4s;

  background: #DE9A86;

}


/*---------------------------------------------*/
input.input100 {
  height: 40px;
}


textarea.input100 {
  min-height: 100px;
  padding-top: 13px;
  padding-bottom: 13px;
}


.input100:focus+.focus-input100::before {
  width: 100%;
}

.has-val.input100+.focus-input100::before {
  width: 100%;
}


/*------------------------------------------------------------------
[ Button ]*/
.container-contact100-form-btn {
  width: 100%;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.wrap-contact100-form-btn {
  display: block;
  position: relative;
  z-index: 1;
  border-radius: 25px;
  overflow: hidden;
}

.contact100-form-bgbtn {
  position: absolute;
  z-index: -1;
  width: 200%;
  height: 100%;
  background: #DE9A86;
  top: 0;
  left: -100%;
  -webkit-transition: all 0.4s;
  -o-transition: all 0.4s;
  -moz-transition: all 0.4s;
  transition: all 0.4s;
}

.contact100-form-btn {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 20px;
  min-width: 145px;
  height: 42px;
  font-size: 16px;
  color: #fff;
  line-height: 1.2;
  transition: 0.3s all ease-in-out;
}

.contact100-form-btn:hover {
  background: #BF6D54;
}

.wrap-contact100-form-btn:hover .contact100-form-bgbtn {
  left: 0;
}
